option_settings:
  aws:elbv2:listener:443:
    DefaultProcess: default
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-1:423623825769:certificate/d5ed095c-4a2b-41b7-a06f-af9b52f2525b
  aws:elasticbeanstalk:environment:process:default:
    Port: '80'
    Protocol: HTTP